.container {
    float: left;
    background: rgba(221, 221, 221, 0.8);
    border-radius: 40px;

    height: 94%;
    padding-bottom: 3%;
    margin-bottom: 3%;
    margin-top: 15px;

    width: 72%;
    padding-left: 7%;
    padding-right: 7%;
    margin-left: 7%;
    margin-right: 7%;
}

.button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    height: 35px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.confirmationButton {
    width: 42%;
    margin-left: 2px;
    margin-right: 2px;
}

.form {
    float: left;
    width: 50%;
    padding-top: 25px;
    padding-left: 25%;
    padding-right: 25%;
}

#postAccountDeleted {
    display: none;
}

input {
    width: 100%;
    height: 25px;
    margin-bottom: 5px;
    text-align: left;
}