.container {
    width: 72%;
    padding-left: 7%;
    padding-right: 7%;
    margin-left: 7%;
    margin-right: 7%;
}

.createAndSearch {
    float: left;
    width: 50%;
    padding-top: 25px;
    padding-left: 25%;
    padding-right: 25%;
}

#allRecipesContainer {
    float: left;
}

.recipeTitle {
    margin-bottom: 5px;
    margin-top: 5px;
}

.recipeListItem {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}

.recipeThumbnail {
    height: 50px;
    float: left;
    padding-right: 5px;
}

#postRecipeCreated {
    display: none;
}

.button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    height: 35px;
    width: 100%;
    margin-bottom: 10px;
}

@media (max-width: 500px) and (orientation: portrait) {
    .container {
        margin: 0;
        width: 86%;
    }

    body {
        background: url("../images/carrots.jpg") no-repeat;
        background-size: 1300px auto;
    }
}
