::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}

.recipeInput {
    width: 100%;
    height: 25px;
    margin-bottom: 5px
}

.ingredients {
    padding-bottom: 10px;
}