.container {
    width: 72%;
    padding-left: 7%;
    padding-right: 7%;
    margin-left: 7%;
    margin-right: 7%;
}

.inventoryContainer {
    margin-top: 20px;
    float: left;
}

.addIngredientContainer {
    width: 330px;
    display:table-cell;
    padding-right: 20px;
}

.instructionsContainer {
    display:table-cell;
    width: auto;
    vertical-align: middle
}

.footerContainer {
    display: table;
    width: 100%;
    padding-top: 15px;
}

.inventoryTitle {
    margin-top: 0;
    font-size: 32px;
    padding-left: 10px;
    white-space: nowrap;
}

.shoppingCartSymbol {
    font-size:24px;
    color: #aaaaaa;;
    font-weight: bold;
}

.plusSymbol {
    font-size:35px;
    color: #aaaaaa;;
    font-weight: bold;
    line-height: 20px;
}

.deleteSymbol {
    font-size: 35px;
    font-weight: bold;
    line-height: 20px;
    color: #aaaaaa;
}

.plusSymbol:hover,
.plusSymbol:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.shoppingCartSymbol:hover,
.shoppingCartSymbol:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.deleteSymbol:hover,
.deleteSymbol:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.shoppingCartSymbol {
    font-size:24px !important;
}

.ingredientInShoppingList {
    color: #000 !important;
}

.inventoryItem {
    float: left;
    margin: 7px 7px 7px 7px;
}

.itemAndQuantity {
    float: left;
    margin-right: 5px;
}

.symbols {
    float: left;
}

.button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    height: 60px;
    width: 75px;
    margin-right: 3px;
    margin-left: 3px;
}

.input {
    height: 25px;
}

.searchContainer {
    float: left;
    width: 50%;
    padding-top: 25px;
    padding-left: 25%;
    padding-right: 25%;
}

.addIngredientLabel {
    height: 25px;
    margin-bottom: 3px;
    margin-top: 3px;
    display: block;
}

.addIngredientLabels {
    float: left;
    padding-right: 8px
}

.addIngredientInputs {
    float: left;
}

.insertedElement {
    margin-right: 5px;
}

@media (max-width: 750px) {
    .addIngredientContainer {
        margin: auto;
        display: table;
    }

    .instructionsContainer {
        padding-top: 15px;
        float: left;
    }
}