.container {
    width: 72%;
    padding-left: 7%;
    padding-right: 7%;
    margin-left: 7%;
    margin-right: 7%;
}

.inventoryContainer {
    margin-top: 20px;
    float: left;
}

#newIngredient {
    width: 100%;
    height: 25px;
    text-align: left;
}

.title {
    margin-top: 0;
    font-size: 32px;
    padding-left: 5%;
}