body {
    font-family: 'Didact Gothic';
    background: url("../images/carrots.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    position: absolute;
    width: 500px;
    height: auto;
    top: 15%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    background: rgba(221, 221, 221, 0.8);
    border-radius: 40px;
}

.form {
    padding-top: 5px;
    padding-left: 100px;
    padding-bottom: 30px;
}

input {
    width: 75%;
    height: 25px;
    margin-bottom: 5px;
    text-align: left;
}

.button {
    width: 76%;
    height: 35px;
    margin-bottom: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#postSignupDisplay {
    display: none;
}

#postPasswordResetDisplay {
    display: none;
}

#postChangePasswordDisplay {
    display: none;
}

/* Mobile specific styles */
@media (max-width: 550px) and (orientation: portrait) {
    .container {
        position: relative;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
    }

    .form {
        padding-left: 75px;
    }

    body {
        background: url("../images/carrots.jpg") no-repeat;
        background-size: 1300px auto;
    }
}

@media (max-height: 400px) and (orientation: landscape) {
    body {
        background: url("../images/carrots.jpg") no-repeat;
        background-size: 1400px auto;
    }

    .container {
        top: 8%;
    }
}