input {
    width: 75%;
    height: 25px;
    margin-bottom: 5px;
    text-align: left;
}

.button {
    width: 76%;
    height: 35px;
    margin-bottom: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 13px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.form {
    position: absolute;
    width: 500px;
    height: auto;
    top: 15%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    background: rgba(221, 221, 221, 0.8);
    border-radius: 40px;
}

.formPadding {
    padding-top: 5px;
    padding-left: 100px;
    padding-bottom: 30px;
}

body {
    font-family: 'Didact Gothic';
    background: url("../images/carrots.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#postSignupDisplay {
    display: none;
}

#postPasswordResetDisplay {
    display: none;
}

#postChangePasswordDisplay {
    display: none;
}

/* Mobile specific styles */
@media (max-width: 500px) {
    .form {
        width: 100%;
    }

    .formPadding {
        padding-left: 75px;
    }

    body {
        background: url("../images/carrots.jpg") no-repeat;
        background-size: 1100px auto;
    }
}