.container {
    width: 86%;
    margin-left: 7%;
    margin-right: 7%;
}

.recipeDetailsContainer {
    width: 180px;
    min-width: 180px;
    float: left;
}

.recipeContainer {
    width: 90%;
    float: left;
    padding-left: 5%;
    padding-right: 5%;
}

.subRecipeContainer {
    width: 700px;
    margin: auto;
    padding-top: 50px;
}

.notesContainer {
    width: 340px;
    height: 95px;
    float: left;
}

.ingredientAndStepContainer {
    float: left;
    padding-top: 15px;
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
}

/*TODO this is a duplicate*/
.ingredientContainer {
    float: left;
    width: 48%;
    padding-right: 2%;
    min-width: 300px;
}

.stepContainer {
    float: left;
    width: 48%;
    padding-left: 2%;
    min-width: 300px;
}

.buttonContainer {
    padding-top: 10px;
    width: 318px;
    margin: auto;
}

.header {
    padding-left: 7%;
    padding-right: 7%;
}

#notes {
    width: 100%;
    height: 65px;
    resize: none;
}

.label {
    float: left;
    padding-bottom: 10px;
}

.headerButton {
    float: left;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    height: 25px;
    width: 100px;
    margin-right: 3px;
    margin-left: 3px;
}

.input {
    width: 100%;
    height: 25px;
    text-align: left;
}

.ingredientActionColumn {
    display: none;
    justify-content: center;
    align-items: center;
}

.table {
    width: 100%;
    word-wrap:break-word;
    table-layout: fixed;
}

.pointer {
    cursor: pointer;
}

.cookAndPrepTimeLabel {
    float: left;
}

.timeInput {
    margin-left: 5px;
    width: 78px;
}

.modalButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    height: 35px;
    width: 100%;
    margin-bottom: 10px;
}

#closeInstructions {
    margin-top: 10px;
}

.ingredients {
    cursor: pointer;
    height: 36px;
    width: 100%;
}

.ingredientColumn {
    height: 36px;
    padding-right: 8px;
    width: 60%;
}

.quantityColumn {
    height: 36px;
    width: 40%
}

.buttonColumn {
    width: 20%;
}

.addIngredientLabel {
    margin-bottom: 3px;
    margin-top: 3px;
}

.ingredientAndStepButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    height: 30px;
    margin-left: 6px;
    width: 100%;
}

.stepColumn {
    overflow-wrap: break-word;
    word-wrap: break-word;
    width: 95%;
    height: 36px;
}

.stepHeader {
    width: 95%;
}

.stepNumberColumn {
    width: 25px;
}

.stepNumber {
    margin: 0;
}

#ratingLabel {
    float: left;
    padding-right: 5px;
}

.ratingContainer {
    width: 150px;
}

#lockRecipeButton {
    display: none;
}

@media screen and (max-width: 838px) {
    .ingredientContainer{
        width: 100%;
        padding-right: 0;
    }

    .stepContainer {
        width: 100%;
        margin-bottom: 15px;
        padding-left: 0;
    }
}

input[type="time"]::-webkit-clear-button {
    display: none;
}

/*TODO this is a duplicate*/
.shoppingCartSymbol {
    font-size:24px !important;
    color: #aaaaaa;;
    font-weight: bold;
    padding-right: 5px;
}

.shoppingCartSymbol:hover,
.shoppingCartSymbol:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.ingredientInShoppingList {
    color: #000 !important;
}

@media screen and (max-width: 925px) {
    .subRecipeContainer {
        width: 380px;
    }
}

@media (max-width: 500px) and (orientation: portrait) {
    .container {
        margin: 0;
        width: 100%;
    }
}
