<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>The Cooking Pot - Change Password</title>
    <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
    <link rel="stylesheet" href="/css/library.css" media="screen" type="text/css"/>
    <link rel="stylesheet" href="/css/login.css" media="screen" type="text/css"/>
    <link rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon'/>
    <script type="application/javascript" src="/js/library.js"></script>
    <script type="application/javascript" src="/js/change-password.js"></script>
</head>
<body>
    <div class="container">
        <div class="form">
            <h1>The Cooking Pot</h1>
            <form id="preChangePasswordDisplay" onsubmit="event.preventDefault();" method="POST">
                <label for="password">Password</label><br>
                <input id="password" type="password"/><br>
                <label for="retypepassword">Retype password</label><br>
                <input id="retypepassword" type="password"/>
                <label id="passwordTooShortError" class="hidden error">Password must be more than 5 characters!</label>
                <label id="passwordsDoNotMatchError" class="hidden error">Passwords do not match!</label>
                <label id="passwordChangeError" class="hidden error"></label>
                <button id="changePasswordButton" class="button">
                    <span>CHANGE PASSWORD</span>
                </button>
                <div>
                    <a href="/login">Back to login</a>
                </div>
            </form>
            <div id="postChangePasswordDisplay">
                <label>Password successfully changed!</label><br>
                <label>Click <a href="/">here</a> to login.</label>
            </div>
        </div>
    </div>
</body>
</html>