<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Cooking Pot - Change Password</title>
    <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
    <link rel="stylesheet" href="/css/library.css" media="screen" type="text/css"/>
    <link rel="stylesheet" href="/css/account.css" media="screen" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon'/>
    <script type="application/javascript" src="/js/library.js"></script>
    <script type="application/javascript" src="/js/change-password.js"></script>
</head>
<body>
<div class="container">
    <div>
        <h1 class="title">The Cooking Pot</h1>
        <div class="loggedInUserContainer">
            <div class="loggedInUser">
                <label th:text="${user}"></label>
                <a href="/logout">Logout</a>
            </div>
        </div>
    </div>

    <div class="navbar">
        <a href="/">Home</a>
        <div class="dropdown">
            <button class="dropbtn">Recipes
                <i class="fa fa-caret-down"></i>
            </button>
            <div id="recipeDropdown" class="dropdown-content">
                <label>Recent recipes:</label>
                <a
                        th:each="item : ${recentlyViewed}"
                        th:href="'/recipe?id=' + ${item.recipe.id}"
                        th:text="${item.recipe.title}">
                </a>
            </div>
        </div>
        <a href="/inventory">Inventory</a>
        <a href="/shopping-list">Shopping List</a>
        <div class="dropdown active">
            <button class="dropbtn active">Account
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/logout">Logout</a>
                <a href="/change-password">Change password</a>
                <a href="/delete-account">Delete account</a>
            </div>
        </div>
    </div>

    <div class="form">
        <h2>Change your password</h2>
        <div id="preChangePasswordDisplay">
            <label for="password">Password</label><br>
            <input id="password" type="password"/><br>
            <label for="retypepassword">Retype password</label><br>
            <input id="retypepassword" type="password"/>
            <label id="passwordTooShortError" class="hidden error">Password must be more than 5 characters!</label>
            <label id="passwordsDoNotMatchError" class="hidden error">Passwords do not match!</label>
            <label id="passwordChangeError" class="hidden error"></label>
            <button id="changePasswordButton" class="button">
                <span>CHANGE PASSWORD</span>
            </button>
        </div>
        <div id="postChangePasswordDisplay" class="hidden">
            <label>Password successfully changed!</label><br>
        </div>
    </div>
</div>

</body>
</html>