<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Cooking Pot - Password Reset</title>
    <link rel="stylesheet" href="../stylesheets/index.css" media="screen" type="text/css" />
</head>
<body>
    <div class="loginDiv">
        <h1>The Cooking Pot</h1>
        <form action="login.html">
            <input class="loginInput" placeholder="Username or email address"/>
            <button class="loginButton">RESET PASSWORD</button>
        </form>
    </div>
</body>
</html>