<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>The Cooking Pot - Recipes</title>
    <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
    <link rel="stylesheet" href="../static/css/index.css" media="screen" type="text/css"/>
    <link rel="stylesheet" href="../static/css/library.css" media="screen" type="text/css"/>
    <link rel="stylesheet" href="../static/css/home.css" media="screen" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="application/javascript" src="../static/js/library.js"></script>
    <script type="application/javascript" src="../static/js/recipe.js"></script>
</head>
<body>
    <div class="container">
        <div>
            <h1 class="title">The Cooking Pot</h1>
            <div class="loggedInUserContainer">
                <div class="loggedInUser">
                    <label>jscarfe</label>
                    <a href="/logout">Logout</a>
                </div>
            </div>
        </div>

        <div class="navbar">
            <a class="active" href="home.html">Home</a>
            <div class="dropdown">
                <button class="dropbtn">Recipes
                    <i class="fa fa-caret-down"></i>
                </button>
                <div id="recipeDropdown" class="dropdown-content"></div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Account
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/logout">Logout</a>
                    <a href="/changePassword">Change password</a>
                    <a href="/deleteAccount">Delete account</a>
                </div>
            </div>
        </div>

        <div class="createAndSearch">
            <div>
                <button id="createRecipeButton">CREATE NEW RECIPE</button>
            </div>
            <div>
                <label for="searchForRecipe">Search for a recipe</label><br>
                <input id="searchForRecipe" class="searchBar"/>
            </div>
        </div>

        <div id="allRecipesContainer">
            <div>
                <h2>All recipes:</h2>
            </div>
        </div>
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <label for="recipeName">Enter the recipe title</label><br>
            <input id="recipeName">
            <label id="invalidRecipeNameError" class="hidden error">Invalid recipe name!</label>
            <label id="createRecipeError" class="hidden error"></label>
            <button id="confirmRecipeButton">CREATE</button>
        </div>
    </div>

</body>
</html>