<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Cooking Pot - Recipes</title>
    <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
    <link rel="stylesheet" href="/css/library.css" media="screen" type="text/css"/>
    <link rel="stylesheet" href="/css/home.css" media="screen" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="application/javascript" src="/js/library.js"></script>
    <script type="application/javascript" src="/js/home.js"></script>
</head>
<body>
    <div class="container">
        <div>
            <h1 class="title">The Cooking Pot</h1>
            <div class="loggedInUserContainer">
                <div class="loggedInUser">
                    <label th:text="${user}"></label>
                    <a href="/logout">Logout</a>
                </div>
            </div>
        </div>

        <div class="navbar">
            <a class="active" href="/">Home</a>
            <div class="dropdown">
                <button class="dropbtn">Recipes
                    <i class="fa fa-caret-down"></i>
                </button>
                <div id="recipeDropdown" class="dropdown-content">
                    <label>Recent recipes:</label>
                    <a
                            th:each="item : ${recentlyViewed}"
                            th:href="'/recipe?id=' + ${item.recipe.id}"
                            th:text="${item.recipe.title}">
                    </a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Account
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/logout">Logout</a>
                    <a href="/changePassword">Change password</a>
                    <a href="/deleteAccount">Delete account</a>
                </div>
            </div>
        </div>

        <div class="createAndSearch">
            <div>
                <button id="createRecipeButton" class="button">CREATE NEW RECIPE</button>
            </div>
            <div>
                <label for="searchForRecipe">Search for a recipe</label><br>
                <input id="searchForRecipe" class="searchBar"/>
            </div>
        </div>

        <div id="allRecipesContainer">
            <div>
                <h2>Your recipes:</h2>
            </div>
            <!--TODO this should be using thymeleaf for the initial load-->
            <div id="allRecipes"></div>
        </div>
    </div>

    <div id="createRecipeModal" class="modal">
        <div class="modal-content">
            <span class="close modalClose">&times;</span>
            <div id="preRecipeCreated">
                <label for="recipeName">Enter the recipe title</label><br>
                <input id="recipeName" class="modalInput">
                <label id="invalidRecipeNameError" class="hidden error">Invalid recipe name!</label>
                <label id="createRecipeError" class="hidden error"></label>
                <button id="confirmRecipeButton" class="button">CREATE</button>
            </div>
            <div id="postRecipeCreated">
                <label>Recipe successfully created!</label><br>
                <label>Click <a id="newRecipe">here</a> to view the recipe</label>
            </div>
        </div>
    </div>

</body>
</html>