<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Cooking Pot</title>
    <link rel="stylesheet" href="../stylesheets/recipe.css" media="screen" type="text/css" />
</head>
<body>
    <div style="padding-left: 150px; padding-right: 150px">
        <h1>The Cooking Pot</h1>

        <div class="navbar">
            <a class="active" href="#home">Home</a>
            <div class="dropdown">
                <button class="dropbtn">Recipes
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#">Recipe 1</a>
                    <a href="#">Recipe 2</a>
                    <a href="#">Recipe 3</a>
                </div>
            </div>
            <a href="#news">Ingredients</a>
            <a href="#news">Shopping</a>
        </div>

        <div>
            <div style="float: left">
                <img class="image" src="../curry.jpg">
            </div>

            <div style="float: right; padding-right: 75px">
                <h3>Shopping List</h3>
                <table>
                    <thead style="text-align: left">
                        <th>Item</th>
                        <th>Amount</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Red peppers</td>
                            <td>4</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>