<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Cooking Pot - Change Password</title>
    <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
    <link rel="stylesheet" href="/css/login.css" media="screen" type="text/css"/>
    <script type="application/javascript" src="/js/library.js"></script>
    <script type="application/javascript" src="/js/signup.js"></script>
</head>
<body>
<div class="form">
    <div class="formPadding">
        <h1>The Cooking Pot</h1>
        <label>The token is either invalid or has expired.</label><br>
        <label>To request a new token please click <a href="/resetPassword">here</a>.</label>
        <div>
            <a href="/login">Back to login</a><br>
            <a href="/signup">Don't have an account?</a>
        </div>
    </div>
</div>
</body>
</html>