<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Cooking Pot - Inventory</title>
    <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
    <link rel="stylesheet" href="../static/css/library.css" media="screen" type="text/css"/>
    <link rel="stylesheet" href="../static/css/inventory.css" media="screen" type="text/css"/>
    <script type="application/javascript" src="../static/js/library.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon'/>
</head>
<body>
<div class="baseContainer container">
    <div class="header">
        <div>
            <h1 class="title">The Cooking Pot</h1>
            <div class="loggedInUserContainer">
                <div class="loggedInUser">
<!--                    <label th:text="${user}"></label>-->
                    <label>username</label>
                    <a href="/logout">Logout</a>
                </div>
            </div>
        </div>

        <div class="navbar">
            <a href="/">Home</a>
            <div class="dropdown">
                <button class="dropbtn">Recipes
                    <i class="fa fa-caret-down"></i>
                </button>
                <div id="recipeDropdown" class="dropdown-content">
                    <label>Recent recipes:</label>
                    <a
                        th:each="item : ${recentlyViewed}"
                        th:href="'/recipe?id=' + ${item.recipe.id}"
                        th:text="${item.recipe.title}">
                    </a>
                </div>
            </div>
            <a class="active" href="inventory.html">Inventory</a>
            <a href="shopping_list.html">Shopping List</a>
            <div class="dropdown">
                <button class="dropbtn">Account
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/logout">Logout</a>
                    <a href="/changePasswordLoggedIn">Change password</a>
                    <a href="/deleteAccount">Delete account</a>
                </div>
            </div>
            <label class="inventoryTitle">Inventory</label>
        </div>
    </div>

    <div class="searchContainer">
        <div>
            <label for="searchForIngredient">Search for an ingredient</label><br>
            <input id="searchForIngredient" class="searchBar"/>
        </div>
    </div>
    <div class="inventoryContainer">
        <div class="inventoryItem">
            <div class="itemAndQuantity">
                <label>Item: Chicken</label><br>
                <label>Quantity: 500g</label>
            </div>
            <div class="cartAndDelete">
                <i class="fa fa-shopping-cart shoppingCartIcon" id="shoppingCartIcon"></i>
                <span class="close">&times;</span>
            </div>
        </div>
        <div class="inventoryItem">
            <div class="itemAndQuantity">
                <label>Item: Fresh rocket</label><br>
                <label>Quantity: 1 bag</label>
            </div>
            <div class="cartAndDelete">
                <i class="fa fa-shopping-cart shoppingCartIcon" id="shoppingCartIcon"></i>
                <span class="close">&times;</span>
            </div>
        </div>
        <div class="inventoryItem">
            <div class="itemAndQuantity">
                <label>Item: Onions</label><br>
                <label>Quantity: 3</label>
            </div>
            <div class="cartAndDelete">
                <i class="fa fa-shopping-cart shoppingCartIcon" id="shoppingCartIcon"></i>
                <span class="close">&times;</span>
            </div>
        </div>
        <div class="inventoryItem">
            <div class="itemAndQuantity">
                <label>Item: Natural yoghurt</label><br>
                <label>Quantity: 150ml</label>
            </div>
            <div class="cartAndDelete">
                <i class="fa fa-shopping-cart shoppingCartIcon" id="shoppingCartIcon"></i>
                <span class="close">&times;</span>
            </div>
        </div>
        <div class="inventoryItem">
            <div class="itemAndQuantity">
                <label>Item: Feta cheese</label><br>
                <label>Quantity: 200g</label>
            </div>
            <div class="cartAndDelete">
                <i class="fa fa-shopping-cart shoppingCartIcon" id="shoppingCartIcon"></i>
                <span class="close">&times;</span>
            </div>
        </div>
        <div class="inventoryItem">
            <div class="itemAndQuantity">
                <label>Item: Chicken</label><br>
                <label>Quantity: 500g</label>
            </div>
            <div class="cartAndDelete">
                <i class="fa fa-shopping-cart shoppingCartIcon" id="shoppingCartIcon"></i>
                <span class="close">&times;</span>
            </div>
        </div>
        <div class="inventoryItem">
            <div class="itemAndQuantity">
                <label>Item: Fresh rocket</label><br>
                <label>Quantity: 1 bag</label>
            </div>
            <div class="cartAndDelete">
                <i class="fa fa-shopping-cart shoppingCartIcon" id="shoppingCartIcon"></i>
                <span class="close">&times;</span>
            </div>
        </div>
        <div class="inventoryItem">
            <div class="itemAndQuantity">
                <label>Item: Onions</label><br>
                <label>Quantity: 3</label>
            </div>
            <div class="cartAndDelete">
                <i class="fa fa-shopping-cart shoppingCartIcon" id="shoppingCartIcon"></i>
                <span class="close">&times;</span>
            </div>
        </div>
        <div class="inventoryItem">
            <div class="itemAndQuantity">
                <label>Item: Natural yoghurt</label><br>
                <label>Quantity: 150ml</label>
            </div>
            <div class="cartAndDelete">
                <i class="fa fa-shopping-cart shoppingCartIcon" id="shoppingCartIcon"></i>
                <span class="close">&times;</span>
            </div>
        </div>
        <div class="inventoryItem">
            <div class="itemAndQuantity">
                <label>Item: Feta cheese</label><br>
                <label>Quantity: 200g</label>
            </div>
            <div class="cartAndDelete">
                <i class="fa fa-shopping-cart shoppingCartIcon" id="shoppingCartIcon"></i>
                <span class="close">&times;</span>
            </div>
        </div>
    </div>

    <div class="addIngredientContainer">
        <div style="float: left; padding-right: 8px">
            <label class="addIngredientLabel" for="item">Item</label>
            <label class="addIngredientLabel" for="quantity">Quantity</label>
        </div>
        <div style="float: left;">
            <input class="input" id="item"><br>
            <input class="input " id="quantity">
        </div>
        <button class="button">ADD</button>
    </div>
</div>

</body>
</html>