<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Cooking Pot - Inventory</title>
    <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
    <link rel="stylesheet" href="/css/library.css" media="screen" type="text/css"/>
    <link rel="stylesheet" href="/css/inventory.css" media="screen" type="text/css"/>
    <link rel="stylesheet" href="/css/ingredient-format-slider.css" media="screen" type="text/css"/>
    <link rel="stylesheet" href="/css/ingredient-auto-complete.css" media="screen" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon'/>
    <script type="application/javascript" src="/js/library.js"></script>
    <script type="application/javascript" src="/js/inventory.js"></script>
    <script type="application/javascript" src="/js/ingredient-format-slider.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        let ingredients = [[${ingredients}]];
        /*]]>*/
    </script>
</head>
<body>
<div class="baseContainer container">
    <div class="header">
        <div>
            <h1 class="title">The Cooking Pot</h1>
            <div class="loggedInUserContainer">
                <div class="loggedInUser">
                    <label th:text="${user}"></label>
                    <a href="/logout">Logout</a>
                </div>
            </div>
        </div>

        <div class="navbar">
            <a href="/">Home</a>
            <div class="dropdown">
                <button class="dropbtn">Recipes
                    <i class="fa fa-caret-down"></i>
                </button>
                <div id="recipeDropdown" class="dropdown-content">
                    <label>Recent recipes:</label>
                    <a
                        th:each="item : ${recentlyViewed}"
                        th:href="'/recipe?id=' + ${item.recipe.id}"
                        th:text="${item.recipe.title}">
                    </a>
                </div>
            </div>
            <a class="active" href="inventory.html">Inventory</a>
            <a href="shopping-list">Shopping List</a>
            <div class="dropdown">
                <button class="dropbtn">Account
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/logout">Logout</a>
                    <a href="/change-password-logged-in">Change password</a>
                    <a href="/delete-account">Delete account</a>
                </div>
            </div>
            <label class="pageTitle">Inventory</label>
        </div>
    </div>

    <div class="searchContainer">
        <div>
            <label for="searchForIngredient">Filter your ingredients</label><br>
            <input id="searchForIngredient" class="searchBar"/>
        </div>
    </div>
    <div class="inventoryContainer" id="inventoryContainer">
        <div class="inventoryItem" th:each="item,iter : ${inventory}" th:id="${item.id}">
            <div class="itemAndQuantity">
                <label th:text="${item.ingredient.description}"></label>
                <label th:text="${item.ingredient.metric}" class="metric"></label>
                <label th:text="${item.ingredient.imperial}" class="imperial" hidden></label>
            </div>
            <div class="symbols">
                <i th:if="${item.shoppingListItem}" class="fa fa-shopping-cart shoppingCartSymbol ingredientInShoppingList"></i>
                <i th:unless="${item.shoppingListItem}" class="fa fa-shopping-cart shoppingCartSymbol"></i>
                <span class="deleteSymbol">&times;</span>
            </div>
        </div>
    </div>

    <div class="footerContainer">
        <div class="addIngredientContainer">
            <div class="addIngredientLabels">
                <label class="addIngredientLabel" for="item">Item</label>
                <label class="addIngredientLabel" for="quantity">Quantity</label>
            </div>
            <div class="addIngredientInputs">
                <div class="autocomplete">
                    <input class="input" id="item">
                </div>
                <input class="input" id="quantity">
            </div>
            <div>
                <button id="addInventoryItem" class="button">ADD</button>
            </div>
            <div class="ingredientFormatContainer">
                <div class="ingredientFormatSubContainer">
                    <label class="ingredientFormatLabel">Ingredient format:</label>
                    <label class="switch">
                        <input type="checkbox" id="ingredientFormatButton">
                        <div class="slider round">
                            <span class="off">METRIC</span>
                            <span class="on">IMPERIAL</span>
                        </div>
                    </label>
                </div>
            </div>
        </div>
        <div class="instructionsContainer">
            <label>Add ingredients to your ingredient inventory.</label>
            <label>The quantity is optional.</label>
            <label>Once there, you can add or remove the inventory item from your shopping list using the <i class="fa fa-shopping-cart shoppingCartSymbol"></i> button.</label>
            <label>You can remove by pressing the <span class="close deleteSymbol">&times;</span> button.</label>
        </div>
    </div>
</div>

</body>
</html>