<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Cooking Pot - Inventory</title>
    <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
    <link rel="stylesheet" href="../static/css/library.css" media="screen" type="text/css"/>
    <link rel="stylesheet" href="../static/css/inventory.css" media="screen" type="text/css"/>
    <script type="application/javascript" src="../static/js/library.js"></script>
</head>
<body>
<div class="baseContainer container">
    <div class="header">
        <div>
            <h1 class="title">The Cooking Pot</h1>
            <div class="loggedInUserContainer">
                <div class="loggedInUser">
                    <label th:text="${user}"></label>
                    <a href="/logout">Logout</a>
                </div>
            </div>
        </div>

        <div class="navbar">
            <a href="/">Home</a>
            <div class="dropdown">
                <button class="dropbtn">Recipes
                    <i class="fa fa-caret-down"></i>
                </button>
                <div id="recipeDropdown" class="dropdown-content">
                    <label>Recent recipes:</label>
                    <a
                        th:each="item : ${recentlyViewed}"
                        th:href="'/recipe?id=' + ${item.recipe.id}"
                        th:text="${item.recipe.title}">
                    </a>
                </div>
            </div>
            <a class="active" href="/">Inventory</a>
            <div class="dropdown">
                <button class="dropbtn">Account
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/logout">Logout</a>
                    <a href="/changePasswordLoggedIn">Change password</a>
                    <a href="/deleteAccount">Delete account</a>
                </div>
            </div>
            <label class="title">Inventory</label>
        </div>
    </div>

    <div class="inventoryContainer">
        <div class="inventoryItem">
            <label>Item: Chicken</label>
            <label>Quantity: 500g</label>
            <span hidden class="close">&times;</span>
        </div>
        <div class="addIngredientContainer">
            <label for="addIngredient">Add ingredient</label>
            <input id="newIngredient">
        </div>
    </div>
</body>

</html>