<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Cooking Pot - Login</title>
    <link rel="stylesheet" href="../stylesheets/index.css" media="screen" type="text/css" />
</head>
<body>
    <div class="loginDiv">
        <h1>The Cooking Pot</h1>
        <form action="home.html">
            <input class="loginInput" placeholder="Username"/>
            <input class="loginInput" placeholder="Password"/>
            <button class="loginButton">LOGIN</button>
            <a href="signup.html">Don't have an account?</a>
        </form>
    </div>
</body>
</html>