<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Cooking Pot - Login</title>
    <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
    <link rel="stylesheet" href="/css/library.css" media="screen" type="text/css"/>
    <link rel="stylesheet" href="/css/login.css" media="screen" type="text/css" />
</head>
<body>
    <div class="container">
        <div class="form">
            <h1>The Cooking Pot</h1>
            <form th:action="@{/login}" method="post">
                <label for="username">Username</label><br>
                <input id="username" name="username" class="input"/><br>
                <label for="password">Password</label><br>
                <input id="password" name="password" class="input" type="password"/>
                <div th:if="${param.error}" class="error">
                    Invalid username and password!
                </div>
                <button class="button">
                    <span>LOGIN</span>
                </button>
                <div>
                    <a href="/resetPassword">Forgotten password?</a><br>
                    <a href="/signup">Don't have an account?</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>