<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Cooking Pot - Change Password</title>
    <link rel="stylesheet" href="../stylesheets/index.css" media="screen" type="text/css" />
</head>
<body>
    <div style="padding-left: 150px; padding-right: 150px;">
        <div>
            <h1 style="width: 50%; margin-right: 0;">The Cooking Pot</h1>
            <div style="position: absolute; top: 35px; right: 200px">
                <label>jscarfe</label>
                <a href="login.html">Logout</a>
            </div>
        </div>

        <div class="navbar">
            <a class="active" href="home.html">Home</a>
            <div class="dropdown">
                <button class="dropbtn">Recipes
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="recipe.html">Slow cooker chicken curry</a>
                    <a href="recipe.html">Recipe 2</a>
                    <a href="recipe.html">Recipe 3</a>
                </div>
            </div>
            <a href="#news">Ingredients</a>
            <a href="#news">Shopping</a>
            <div class="dropdown">
                <button class="dropbtn">Account
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="password_change.html">Change password</a>
                </div>
            </div>
        </div>
    </div>

    <div class="loginDiv">
        <form action="home.html">
            <input class="loginInput" placeholder="Password"/>
            <input class="loginInput" placeholder="Retype password"/>
            <button class="loginButton">CHANGE PASSWORD</button>
        </form>
    </div>
</body>
</html>