<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>The Cooking Pot - Recipes</title>
    <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
    <link rel="stylesheet" href="/css/library.css" media="screen" type="text/css"/>
    <link rel="stylesheet" href="/css/recipe.css" media="screen" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
        let recipeId = [[${recipe.id}]];
        let recipeTitle = "[[${recipe.title}]]";
        let recipeRating = [[${recipe.rating}]];
        let recipeServes = [[${recipe.serves}]];
        let recipePrepTime = "[[${recipe.prepTime}]]";
        let recipeCookTime = "[[${recipe.cookTime}]]";
        let recipeNotes = "[[${recipe.notes}]]";
        let recipeDifficulty = "[[${recipe.difficulty}]]";
    </script>
    <script type="application/javascript" src="/js/library.js"></script>
    <script type="application/javascript" src="/js/recipe.js"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <div>
                <h1 class="title">The Cooking Pot</h1>
                <div class="loggedInUserContainer">
                    <div class="loggedInUser">
                        <label>jscarfe</label>
                        <a href="/logout">Logout</a>
                    </div>
                </div>
            </div>

            <div class="navbar">
                <a href="/">Home</a>
                <div class="dropdown active">
                    <button class="dropbtn active">Recipes
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div id="recipeDropdown" class="dropdown-content"></div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Account
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/logout">Logout</a>
                        <a href="/changePassword">Change password</a>
                        <a href="/deleteAccount">Delete account</a>
                    </div>
                </div>
                <label class="recipeTitle" th:text="${recipe.title}"></label>
            </div>
        </div>

        <!-- TODO display shared by -->
        <div class="recipeContainer">
            <div class="subRecipeContainer">
                <div class="buttonContainer">
                    <button id="shareRecipeButton" class="button">SHARE</button>
                    <button id="editRecipeButton" class="button">EDIT</button>
                    <button id="deleteRecipeButton" class="button">DELETE</button>
                </div>
                <div class="recipeDetailsContainer">
                    <div class="label">
                        <label class="cookAndPrepTimeLabel" for="cookTime">Cook time:</label>
                        <label id="cookTime" class="cookAndPrepTimeValue"></label>
                    </div>
                    <div class="label">
                        <label class="cookAndPrepTimeLabel" for="prepTime">Prep time:</label>
                        <label id="prepTime" class="cookAndPrepTimeValue"></label>
                    </div>
                    <div class="label">
                        <label for="serves">Serves:</label>
                        <select disabled id="serves">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                        </select>
                    </div>
                </div>
                <div class="recipeDetailsContainer">
                    <div class="label">
                        <label>Rating:</label>
                        <div id="starRating">
                            <span id="rating1" class="fa fa-star pointer"></span>
                            <span id="rating2" class="fa fa-star pointer"></span>
                            <span id="rating3" class="fa fa-star pointer"></span>
                            <span id="rating4" class="fa fa-star pointer"></span>
                            <span id="rating5" class="fa fa-star pointer"></span>
                        </div>
                    </div>
                    <div class="label">
                        <label for="difficulty">Difficulty:</label>
                        <select disabled id="difficulty">
                            <option>Easy</option>
                            <option>Medium</option>
                            <option>Hard</option>
                        </select>
                    </div>
                </div>

                <div class="notesContainer">
                    <div>
                        <label for="notes">Notes:</label>
                    </div>
                    <div>
                        <textarea disabled id="notes" th:text="${recipe.notes}"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="ingredientAndStepContainer">
            <div class="ingredientContainer">
                <h2>Ingredients</h2>
                <table id="ingredientTable">
                    <!-- TODO the styles are broken here -->
                    <tr th:each="ingredient : ${ingredients}">
                        <td class="ingredients" th:text="${ingredient}"></td>
                        <td class="ingredientActionColumn"><span hidden class="close ingredientDelete">&times;</span></td>
                    </tr>
                    <tr hidden id="addIngredientRow">
                        <td><input id="newIngredient" class="input"></td>
                        <td class="ingredientActionColumn">
                            <button id="addIngredientButton" class="ingredientAndStepButton">ADD</button>
                        </td>
                    </tr>
                </table>
                <div class="ingredientFormatContainer">
                    <label class="ingredientFormatLabel">Ingredient format:</label>
                    <label class="switch">
                        <input type="checkbox" id="togBtn">
                        <div class="slider round">
                            <span class="on">METRIC</span>
                            <span class="off">IMPERIAL</span>
                        </div>
                    </label>
                </div>
            </div>

            <div class="stepContainer">
                <h2>Method</h2>
                <table id="stepTable">
                    <tr th:each="step,iter : ${steps}">
                        <td><h3 th:text="${iter.index + 1 + '.'}"></h3></td>
                        <td class="recipeTableRow steps" th:text="${step}"></td>
                        <td class="ingredientActionColumn"><span hidden class="close ingredientDelete">&times;</span></td>
                    </tr>
                    <tr hidden id="addStepRow">
                        <td></td>
                        <td><input id="newStep" class="input"></td>
                        <td class="ingredientActionColumn">
                            <button id="addStepButton" class="ingredientAndStepButton">ADD</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

    <div id="shareRecipeModal" class="modal">
        <div class="modal-content">
            <span id="closeShareRecipeModal" class="close modalClose">&times;</span>
            <div id="preShare">
                <label for="username">Enter a username to share the recipe with</label><br>
                <input id="username" class="modalInput">
                <label id="invalidUsernameError" class="hidden error">Invalid username!</label>
                <label id="shareRecipeError" class="hidden error"></label>
                <button id="confirmShareButton" class="modalButton">SHARE</button>
            </div>
            <div id="postShare" class="hidden">
                <label>Recipe successfully shared!</label><br>
            </div>
        </div>
    </div>

    <div id="deleteRecipeModal" class="modal">
        <div class="modal-content">
            <span id="closeDeleteRecipeModal" class="close modalClose">&times;</span>
            <div id="preDelete">
                <label id="deleteLabel"></label><br>
                <label id="deleteRecipeError" class="hidden error"></label>
                <button id="confirmDeleteButton" class="modalButton">DELETE</button>
            </div>
            <div id="postDelete" class="hidden">
                <label>Recipe successfully deleted!</label><br>
                <label>Click <a href="/">here</a> to see your recipes</label>
            </div>
        </div>
    </div>
</body>

</html>