<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Cooking Pot - Recipes</title>
    <link rel="stylesheet" href="../stylesheets/index.css" media="screen" type="text/css"/>
    <link rel="stylesheet" href="../stylesheets/recipe.css" media="screen" type="text/css"/>
</head>
<body>
<div style="padding-left: 150px; padding-right: 150px">
    <div>
        <h1 style="width: 50%; margin-right: 0;">The Cooking Pot</h1>
        <div style="position: absolute; top: 35px; right: 200px">
            <label>jscarfe</label>
            <a href="login.html">Logout</a>
        </div>
    </div>

    <div class="navbar">
        <a href="home.html">Home</a>
        <div class="dropdown active">
            <button class="dropbtn">Recipes
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="recipe.html">Chickpea Curry</a>
                <a href="recipe.html">Recipe 2</a>
                <a href="recipe.html">Recipe 3</a>
            </div>
        </div>
        <a href="#news">Ingredients</a>
        <a href="#news">Shopping</a>
        <div class="dropdown">
            <button class="dropbtn">Account
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="password.html">Change password</a>
                <a href="admin.html">Admin</a>
            </div>
        </div>
    </div>

    <div>
        <img class="recipeImage" src="../slow-cooker-chicken-curry.jpg"/>
        <div style="float: right;">
            <h1 style="padding-right: 150px">Slow cooker chicken curry</h1>
            <div class="ingredients">
                <label>Share with</label>
                <input placeholder="username"/>
                <button>Share</button>
            </div>
            <div class="ingredients">
                <label>Labels:</label>
                <label style="border-style: inset; ">curry</label>
                <label style="border-style: inset;">chicken</label>
            </div>
            <div class="ingredients">
                <label>Rating:</label>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
            <div class="ingredients">
                <label>Cook time: 6 hours</label>
            </div>
            <div class="ingredients">
                <label>Difficulty:</label>
                <select>
                    <option>Easy</option>
                    <option>Medium</option>
                    <option>Hard</option>
                </select>
            </div>
            <div class="ingredients">
                <label>Serves:</label>
                <select>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                </select>
            </div>
            <div class="ingredients">
                <label>Notes:</label>
            </div>
            <div>
                <textarea style="width: 98%; height: 170px">Here are some notes</textarea>
            </div>
            <div style="position: absolute; top: 600px; right: 160px;">
                <button>Print</button>
                <button>Hide</button>
                <button>Delete</button>
            </div>
        </div>
    </div>

    <div style="float: left; width: 50%">
        <h2 style="width: 50%; float: left">Ingredients</h2>
        <label style="float: right; margin-top: 20px; margin-right: 50px" class="switch">
            <input type="checkbox" id="togBtn">
            <div class="slider round">
                <span class="on">METRIC</span>
                <span class="off">IMPERIAL</span>
            </div>
        </label>
        <table style="width: 100%">
            <tr>
                <td class="ingredients">1 large onion, roughly chopped</td>
                <td><button>x</button></td>
            </tr>
            <tr>
                <td class="ingredients">3 tbsp mild curry paste</td>
                <td><button>x</button></td>
            </tr>
            <tr>
                <td class="ingredients">400g can chopped tomatoes</td>
                <td><button>x</button></td>
            </tr>
            <tr>
                <td class="ingredients">2 tsp vegetable bouillon powder</td>
                <td><button>x</button></td>
            </tr>
            <tr>
                <td class="ingredients">1 tbsp finely chopped ginger</td>
                <td><button>x</button></td>
            </tr>
            <tr>
                <td class="ingredients">1 yellow pepper, deseeded and chopped</td>
                <td><button>x</button></td>
            </tr>
            <tr>
                <td class="ingredients">2 skinless chicken legs, fat removed</td>
                <td><button>x</button></td>
            </tr>
            <tr>
                <td class="ingredients">30g pack fresh coriander, leaves chopped</td>
                <td><button>x</button></td>
            </tr>
            <tr>
                <td><input class="loginInput" style="width: 95%" placeholder="ingredient"/></td>
                <td><button style="height: 32px;">Add</button></td>
            </tr>
        </table>
    </div>

    <div style="float: right; width: 50%; padding-bottom: 50px">
        <h2>Method</h2>
        <table>
            <tr>
                <td><h3>1.</h3></td>
                <td class="ingredients">Put 1 roughly chopped large onion, 3 tbsp mild curry paste, a 400g can chopped tomatoes, 2 tsp vegetable bouillon powder, 1 tbsp finely chopped ginger and 1 chopped yellow pepper into the slow cooker pot with a third of a can of water and stir well.</td>
                <td>
                    <button>&uarr;</button>
                    <button>&darr;</button>
                    <button>x</button>
                </td>
            </tr>
            <tr>
                <td><h3>2.</h3></td>
                <td class="ingredients">Add 2 skinless chicken legs, fat removed, and push them under all the other ingredients so that they are completely submerged. Cover with the lid and chill in the fridge overnight.</td>
                <td>
                    <button>&uarr;</button>
                    <button>&darr;</button>
                    <button>x</button>
                </td>
            </tr>
            <tr>
                <td><h3>3.</h3></td>
                <td class="ingredients">The next day, cook on Low for 6 hrs until the chicken and vegetables are really tender.</td>
                <td>
                    <button>&uarr;</button>
                    <button>&darr;</button>
                    <button>x</button>
                </td>
            </tr>
            <tr>
                <td><h3>4.</h3></td>
                <td class="ingredients">Stir in the the chopped leaves of 30g coriander just before serving over brown rice.</td>
                <td>
                    <button>&uarr;</button>
                    <button>&darr;</button>
                    <button>x</button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input class="loginInput" style="width: 95%" placeholder="instruction"/></td>
                <td><button style="height: 32px;">Add</button></td>
            </tr>
        </table>
    </div>
</div>
</body>

</html>