<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Cooking Pot - Recipes</title>
    <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
    <link rel="stylesheet" href="/css/library.css" media="screen" type="text/css"/>
    <link rel="stylesheet" href="/css/recipe.css" media="screen" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script th:inline="javascript">
    /*<![CDATA[*/
        let recipeId = [[${recipe.id}]];
        let recipeTitle = [[${recipe.title}]];
        let recipeRating = [[${recipe.rating}]];
        let recipeServes = [[${recipe.serves}]];
        let recipePrepTime = [[${recipe.prepTime}]];
        let recipeCookTime = [[${recipe.cookTime}]];
        let recipeDifficulty = [[${recipe.difficulty}]];
        let ingredients = [[${ingredients}]];
        let displayInstructions = [[${displayInstructions}]]
    /*]]>*/
    </script>
    <script type="application/javascript" src="/js/library.js"></script>
    <script type="application/javascript" src="/js/recipe.js"></script>
</head>
<body>
    <div class="baseContainer container">
        <div class="header">
            <div>
                <h1 class="title">The Cooking Pot</h1>
                <div class="loggedInUserContainer">
                    <div class="loggedInUser">
                        <label th:text="${user}"></label>
                        <a href="/logout">Logout</a>
                    </div>
                </div>
            </div>

            <div class="navbar">
                <a href="/">Home</a>
                <div class="dropdown active">
                    <button class="dropbtn active">Recipes
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div id="recipeDropdown" class="dropdown-content">
                        <label>Recent recipes:</label>
                        <a
                                th:each="item : ${recentlyViewed}"
                                th:href="'/recipe?id=' + ${item.recipe.id}"
                                th:text="${item.recipe.title}">
                        </a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Account
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/logout">Logout</a>
                        <a href="/changePasswordLoggedIn">Change password</a>
                        <a href="/deleteAccount">Delete account</a>
                    </div>
                </div>
                <label class="recipeTitle" th:text="${recipe.title}"></label>
            </div>
        </div>

        <div class="recipeContainer">
            <div class="buttonContainer">
                <button id="shareRecipeButton" class="button">SHARE</button>
                <button id="editRecipeButton" class="button">EDIT</button>
                <button id="deleteRecipeButton" class="button">DELETE</button>
            </div>
            <div class="subRecipeContainer">
                <div class="recipeDetailsContainer">
                    <div class="label">
                        <label class="cookAndPrepTimeLabel" for="cookTime">Cook time:</label>
                        <input disabled id="cookTime" class="timeInput" type="time" th:value="${recipe.cookTime}"/>
                    </div>
                    <div class="label">
                        <label class="cookAndPrepTimeLabel" for="prepTime">Prep time:</label>
                        <input disabled id="prepTime" class="timeInput" type="time" th:value="${recipe.prepTime}"/>
                    </div>
                    <div class="label">
                        <label for="serves">Serves:</label>
                        <select disabled id="serves">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                        </select>
                    </div>
                </div>
                <div class="recipeDetailsContainer">
                    <div class="label ratingContainer">
                        <label id="ratingLabel">Rating:</label>
                        <div id="starRating">
                            <span id="rating1" class="fa fa-star pointer"></span>
                            <span id="rating2" class="fa fa-star pointer"></span>
                            <span id="rating3" class="fa fa-star pointer"></span>
                            <span id="rating4" class="fa fa-star pointer"></span>
                            <span id="rating5" class="fa fa-star pointer"></span>
                        </div>
                    </div>
                    <div class="label">
                        <label for="difficulty">Difficulty:</label>
                        <select disabled id="difficulty">
                            <option>Easy</option>
                            <option>Medium</option>
                            <option>Hard</option>
                        </select>
                    </div>
                    <div>
                        <label>Created by:</label>
                        <label th:text="${recipe.sharedBy} ? ${recipe.sharedBy} : ${user}"></label>
                    </div>
                </div>

                <div class="notesContainer">
                    <div>
                        <label for="notes">Notes:</label>
                    </div>
                    <div>
                        <textarea disabled id="notes" th:text="${recipe.notes}"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="ingredientAndStepContainer">
            <div class="ingredientContainer">
                <h2>Ingredients</h2>
                <table id="ingredientTable" class="table">
                    <tr>
                        <td id="ingredientHeading" class="ingredientColumn">Description</td>
                        <td id="quantityHeading" class="quantityColumn">Quantity</td>
                        <td class="buttonColumn"></td>
                    </tr>
                    <tr th:each="ingredient : ${recipe.ingredients}">
                        <td class="ingredientColumn ingredient" th:text="${ingredient.description}"></td>
                        <td class="quantityColumn metric" th:text="${ingredient.metric}">
                        <td class="quantityColumn imperial hidden" th:text="${ingredient.imperial}"></td>
                        <td class="ingredientActionColumn">
                            <span class="close ingredientDelete">&times;</span>
                        </td>
                    </tr>
                    <tr hidden id="addIngredientRow">
                        <td id="addIngredientColumn" class="ingredientColumn">
                            <div class="autocomplete">
                                <input class="input" id="ingredientDescription"><br>
                            </div>
                        </td>
                        <td id="addQuantityColumn" class="quantityColumn">
                            <input class="input " id="ingredientQuantity">
                        </td>
                        <td class="buttonColumn">
                            <button id="addIngredientButton" class="ingredientAndStepButton">ADD</button>
                        </td>
                    </tr>
                </table>
                <div class="ingredientFormatContainer">
                    <label class="ingredientFormatLabel">Ingredient format:</label>
                    <label class="switch">
                        <input type="checkbox" id="ingredientFormatButton">
                        <div class="slider round">
                            <span class="off">METRIC</span>
                            <span class="on">IMPERIAL</span>
                        </div>
                    </label>
                </div>
            </div>

            <div class="stepContainer">
                <h2>Method</h2>
                <table id="stepTable" class="table">
                    <tr>
                        <td class="stepNumberColumn"></td>
                        <td class="stepHeader"></td>
                        <td class="buttonColumn"></td>
                    </tr>
                    <tr th:each="step,iter : ${recipe.steps}">
                        <td class="stepNumberColumn"><h3 class="stepNumber" th:text="${iter.index + 1 + '.'}"></h3></td>
                        <td class="stepColumn" th:text="${step.description}"></td>
                        <td class="ingredientActionColumn">
                            <span hidden class="close ingredientDelete">&times;</span>
                        </td>
                    </tr>
                    <tr hidden id="addStepRow">
                        <td></td>
                        <td>
                            <input id="newStep" class="input">
                        </td>
                        <td class="ingredientActionColumn">
                            <button id="addStepButton" class="ingredientAndStepButton">ADD</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

    <div id="shareRecipeModal" class="modal">
        <div class="modal-content">
            <span id="closeShareRecipeModal" class="close modalClose">&times;</span>
            <div id="preShare">
                <label for="username">Enter a username to share the recipe with</label><br>
                <input id="username" class="modalInput">
                <label id="invalidUsernameError" class="hidden error">Invalid username!</label>
                <label id="shareRecipeError" class="hidden error"></label>
                <button id="confirmShareButton" class="modalButton">SHARE</button>
            </div>
            <div id="postShare" class="hidden">
                <label>Recipe successfully shared!</label><br>
            </div>
        </div>
    </div>

    <div id="deleteRecipeModal" class="modal">
        <div class="modal-content">
            <span id="closeDeleteRecipeModal" class="close modalClose">&times;</span>
            <div id="preDelete">
                <label id="deleteLabel"></label><br>
                <label id="deleteRecipeError" class="hidden error"></label>
                <button id="confirmDeleteButton" class="modalButton">DELETE</button>
            </div>
            <div id="postDelete" class="hidden">
                <label>Recipe successfully deleted!</label><br>
                <label>Click <a href="/">here</a> to see your recipes</label>
            </div>
        </div>
    </div>

    <div id="instructionsModal" class="modal">
        <div class="modal-content">
            <label>It looks like this is your first recipe!</label><br>
            <label>There's just a few things to tell you before you start.</label><br><br>
            <label>By default recipes are locked for editing when you visit the page.</label>
            <label>To unlock press the EDIT button, which will allow you to edit fields and add / remove ingredients and steps.</label><br><br>
            <label>Once you've created an ingredient or step you can click on the text to edit.</label><br><br>
            <label>All changes are saved automatically so you can simply edit and we'll record the change.</label>
            <label>Once you're finished press the LOCK button to prevent any further changes.</label>
            <button id="closeInstructions" class="modalButton">CLOSE</button>
        </div>
    </div>
</body>

</html>