<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Cooking Pot - Password Reset</title>
    <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
    <link rel="stylesheet" href="/css/login.css" media="screen" type="text/css" />
</head>
<body>
    <div class="form">
        <div class="formPadding">
            <h1>The Cooking Pot</h1>
            <form action="login.html">
                <label for="usernameoremail">Username or email address</label>
                <input id="usernameoremail" class="input"/>
                <button class="button">
                    <span>RESET PASSWORD</span>
                </button>
                <div>
                    <a href="/login">Back to login</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>