<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Cooking Pot - Shopping List</title>
    <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
    <link rel="stylesheet" href="/css/library.css" media="screen" type="text/css"/>
    <link rel="stylesheet" href="/css/inventory.css" media="screen" type="text/css"/>
    <link rel="stylesheet" href="/css/font-awesome">
    <script type="application/javascript" src="/js/library.js"></script>
    <link rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon'/>
</head>
<body>
<div class="baseContainer container">
    <div class="header">
        <div>
            <h1 class="title">The Cooking Pot</h1>
            <div class="loggedInUserContainer">
                <div class="loggedInUser">
                    <label th:text="${user}"></label>
                    <a href="/logout">Logout</a>
                </div>
            </div>
        </div>

        <div class="navbar">
            <a href="/">Home</a>
            <div class="dropdown">
                <button class="dropbtn">Recipes
                    <i class="fa fa-caret-down"></i>
                </button>
                <div id="recipeDropdown" class="dropdown-content">
                    <label>Recent recipes:</label>
                    <a
                        th:each="item : ${recentlyViewed}"
                        th:href="'/recipe?id=' + ${item.recipe.id}"
                        th:text="${item.recipe.title}">
                    </a>
                </div>
            </div>
            <a href="inventory.html">Inventory</a>
            <a class="active" href="shopping_list.html">Shopping List</a>
            <div class="dropdown">
                <button class="dropbtn">Account
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/logout">Logout</a>
                    <a href="/changePasswordLoggedIn">Change password</a>
                    <a href="/deleteAccount">Delete account</a>
                </div>
            </div>
            <label class="inventoryTitle">Shopping List</label>
        </div>
    </div>

    <div class="inventoryContainer">
        <div class="inventoryItem">
            <div class="itemAndQuantity">
                <label>Chicken</label>
                <label>500g</label>
            </div>
            <div class="symbols">
                <span class="plusSymbol">+</span>
                <span class="deleteSymbol">&times;</span>
            </div>
        </div>
        <div class="inventoryItem">
            <div class="itemAndQuantity">
                <label>Fresh rocket</label>
                <label>1 bag</label>
            </div>
            <div class="symbols">
                <span class="plusSymbol">+</span>
                <span class="close deleteSymbol">&times;</span>
            </div>
        </div>
        <div class="inventoryItem">
            <div class="itemAndQuantity">
                <label>Beans</label>
                <label>4 pack</label>
            </div>
            <div class="symbols">
                <span class="plusSymbol">+</span>
                <span class="close deleteSymbol">&times;</span>
            </div>
        </div>
        <div class="inventoryItem">
            <div class="itemAndQuantity">
                <label>Mature cheddar</label>
                <label>1 block</label>
            </div>
            <div class="symbols">
                <span class="plusSymbol">+</span>
                <span class="close deleteSymbol">&times;</span>
            </div>
        </div>
        <div class="inventoryItem">
            <div class="itemAndQuantity">
                <label>Salmon</label>
                <label>2 pieces</label>
            </div>
            <div class="symbols">
                <span class="plusSymbol">+</span>
                <span class="close deleteSymbol">&times;</span>
            </div>
        </div>
        <div class="inventoryItem">
            <div class="itemAndQuantity">
                <label>Eggs</label>
                <label>6</label>
            </div>
            <div class="symbols">
                <span class="plusSymbol">+</span>
                <span class="close deleteSymbol">&times;</span>
            </div>
        </div>
        <div class="inventoryItem">
            <div class="itemAndQuantity">
                <label>Filo pastry</label>
                <label>1 pack</label>
            </div>
            <div class="symbols">
                <span class="plusSymbol">+</span>
                <span class="close deleteSymbol">&times;</span>
            </div>
        </div>
        <div class="inventoryItem">
            <div class="itemAndQuantity">
                <label>Vinegar</label>
                <label></label>
            </div>
            <div class="symbols">
                <span class="plusSymbol">+</span>
                <span class="close deleteSymbol">&times;</span>
            </div>
        </div>
        <div class="inventoryItem">
            <div class="itemAndQuantity">
                <label>Bacon</label>
                <label></label>
            </div>
            <div class="symbols">
                <span class="plusSymbol">+</span>
                <span class="close deleteSymbol">&times;</span>
            </div>
        </div>
        <div class="inventoryItem">
            <div class="itemAndQuantity">
                <label>Fresh rocket</label>
                <label>1 bag</label>
            </div>
            <div class="symbols">
                <span class="plusSymbol">+</span>
                <span class="close deleteSymbol">&times;</span>
            </div>
        </div>
        <div class="inventoryItem">
            <div class="itemAndQuantity">
                <label><b>Chicken</b></label>
                <label>500g</label>
            </div>
            <div class="symbols">
                <span class="plusSymbol">+</span>
                <span class="close deleteSymbol">&times;</span>
            </div>
        </div>
    </div>

    <div class="footerContainer">
        <div class="addIngredientContainer">
            <div class="addIngredientLabels">
                <label class="addIngredientLabel" for="item">Item</label>
                <label class="addIngredientLabel" for="quantity">Quantity</label>
            </div>
            <div class="addIngredientInputs">
                <input class="input" id="item"><br>
                <input class="input " id="quantity">
            </div>
            <div>
                <button class="button">ADD</button>
            </div>
        </div>
        <div class="instructionsContainer">
            <label>Add ingredients to your shopping list.</label>
            <label>The quantity is optional.</label>
            <label>Once there, you can move to your inventory using the <span class="plusSymbol">+</span> button, or remove by pressing the <span class="deleteSymbol">&times;</span> button.</label>
        </div>
    </div>
</div>

</body>
</html>