<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Cooking Pot - Signup</title>
    <link rel="stylesheet" href="../static/css/index.css" media="screen" type="text/css"/>
</head>
<body>
    <div class="loginForm">
        <h1>The Cooking Pot</h1>
        <form action="home.html">
            <input class="recipeInput" placeholder="Username"/>
            <input class="recipeInput" placeholder="Email"/>
            <input class="recipeInput" placeholder="Password"/>
            <input class="recipeInput" placeholder="Retype password"/>
            <button class="recipeButton">SIGNUP</button>
        </form>
    </div>
</body>
</html>