<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Cooking Pot - Signup</title>
    <link rel="stylesheet" href="../stylesheets/index.css" media="screen" type="text/css"/>
</head>
<body>
    <div class="loginDiv">
        <h1>The Cooking Pot</h1>
        <form action="home.html">
            <input class="loginInput" placeholder="Username"/>
            <input class="loginInput" placeholder="Password"/>
            <input class="loginInput" placeholder="Retype password"/>
            <button class="loginButton">SIGNUP</button>
        </form>
    </div>
</body>
</html>