<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Cooking Pot - Signup</title>
    <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
    <link rel="stylesheet" href="/css/login.css" media="screen" type="text/css"/>
</head>
<body>
    <div class="form">
        <div class="formPadding">
            <h1>The Cooking Pot</h1>
            <form th:action="@{/api/signup}" th:object="${user}" method="POST">
                <label for="username">Username</label><br>
                <input id="username" th:field="*{username}"/><br>
                <label for="email">Email address</label><br>
                <input id="email" th:field="*{email}"/><br>
                <label for="password">Password</label><br>
                <input id="password" type="password" th:field="*{password}"/><br>
                <label for="retypepassword">Retype password</label><br>
                <input id="retypepassword" type="password"/>
                <button class="button">
                    <span>SIGNUP</span>
                </button>
                <div>
                    <a href="/login">Back to login</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>